body { 
   background-image: url("public/pastels.jpg");
    background-size: cover;
  text-align: center;
  text-shadow: 100px;
}

.navigation {
  box-sizing: border-box;
  background-color: #fbfcf7 ;
  opacity: 0.7;
  overflow: auto;
  padding: 0px 0px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  font-family: "Press Start 2P", system-ui;
  font-weight: 300;
  font-style: normal;
}

.table {
    background-image: url("public/pastels.jpg");
    background-size: cover;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  color: #eebee0;
  display: inline-block;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 5px;
  margin: 0;
  padding: 10px 50px 10px 0px;
  text-transform: uppercase;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 50%;
}

thead th {
  background: #eebee0;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

tr {
  background: #f8f7f3;
  border-bottom: 1px solid #eebee0;
  margin-bottom: 5px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

th, td {
  color: #eebee0;
  font-size: 25px;
  text-align: center;
  font-weight: 400;
  padding: 20px;
  width: 33.3333%;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

a {
    color: #eebee0;
}

a:link {
  text-decoration: none;
}

tfoot tr td {
    background-color: #eebee0;
    color: #FFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
